header{
    background-color: #0284c7;
    height: 60px;
    width: 1920px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
}
#hat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
h4{
    color: #fafafa;
    font-size: 32px; 

}
.menu{
    font-size: 28px;
    width: calc(100%/2);
    display: flex;
    justify-content: space-between;

}
a{
    color: #fafafa;
}
.ground{
    background-image: url(hat.png);
    width: 1920px;
    height:537px;
    margin-top: 60px;
}
h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    padding-top: 140px;
}
span{ font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #0ea5e9;    

}
.name{
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    
}
p-name{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #0C4A6E;
    padding: 55px 0px;
}
.enroll-button{
    width: 242px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #38bdf8;
}
.white{
    width: 1920px;
    height: 150px;
    background-color: #fafafa;
}  
h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color:#0369a1;
    padding: 50px 0;
}
.Our-services{
    background-color: #0284C7;;
    width: 1920px;
    height: 285px;
}
.block-services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.arrow {
    width: calc(100%/12);
    text-align: center;
    margin-top: 110px; 
}
.block-service02{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-3.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.block-service03{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-2.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-service04{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-1.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p-0N{
    padding: 20px;
    font-family: 'Open Sans';
    font-style: italic;
    color: #fafafa;
    font-size: 20px;
}
.about{
    background-image: url(background-1.png);
    width: 1920px;
    height: 668px;
    object-fit: cover;
    
}
#text-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 528px;
}
.text-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 370px;

}
p-about{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #171717;
    text-align: justify;
    
}
.button{
    display: flex;
    justify-content: flex-end;
}
button-detailed{
    width: 240px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #38bdf8;
    text-align: center;
    
}
.reviews {
    background-color: #fafafa;
    width: 1920px;
    height: 610px;
}
.comments {
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;

}
.comment{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    height: 173px;
    display: flex;
    width: 583px;
    margin: 10px 0;
}
h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #0284C7;
    padding: 10px 0;

}
p{
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #737373;
    padding-right:20px ;
}
.foto{
    padding: 25px ;
}
.map{
    background-image: url(map-background.png);
    width: 1920px;
    height:507px;

}  
.opocity{
    background-color: #e8f5fbbf;
    width: 1920px;
    height:507px;
}
.addresses{
    display: flex;
    flex-direction: row;
    margin:0 -20px;
    
}  
    
.address{
    margin: 20px;
    width: calc(100%/3-40px);
    display: flex;
    flex-direction: column;
    border: 1px solid #0284C7;
    border-radius: 25px;
    box-shadow: 0px 2px 4px rgba(115, 115, 115, 0.25);
    background: #FFFFFF;
    height: 297px;
    justify-content: space-around;
}
.location{
    margin: 20px;
    display: flex;
}
p-info{
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    text-align:left;
    color: #075985;

}
.icon-location{
    height: 33px;
    width: 27px;
    padding-right: 20px;
}

.icon-info{
    height: 24px;
    width: 25px;
    padding-right: 20px;
}
span1{
    color: #075985;
    font-size: 20px;
    font-family:'Open Sans';
}
.info{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #e8f5fbbf;
    width: 1920px;
    height:403px;

}
.footer-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 30px 0;

}
.footer-up-left{
    width: calc(100%/3);
    margin: 20px 0;   
}
.facebook{
    display: flex;
    flex-direction: row;
}
.footer-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.our{
    display: flex;
    flex-direction: row;
    
}
.our-info{
    display: flex;
    flex-direction: column;
}
.icon-our{
    margin-top: 10px;
}
.footer-end{
    display: flex;
    justify-content: right;
    margin: 50px 0;

}
p-info-end{
    color: #075985;
    font-size: 18px;
    border-left:2px solid #075985;
    margin-left: 10px;
    padding-left: 10px;

}
@media (max-width: 768px) {
    .content{
        width: 100%;
        padding:0  20px;
        box-sizing: border-box;
        }
    header{
        width: 100%;
        height: 60px;
    }
    h4{
        font-size: 26px;
    }
    .menu{
        font-size: 18px;
        width: calc(100%/12*7);
        display: flex;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .ground{
        width: 100%;
        height: 537px;
        background-position: center;
        object-position: right;
        background-size: cover;
        margin-top: 60px;
        background: linear-gradient(to right, rgba(233, 240, 245, 0.653) 0%, transparent 100%), url(hat.png);

    }  
    h1{
        font-size: 34px;
        width: avto;
        padding-top: 80px;

    }
    span{
        font-size: 35px;
    }
    .name{
        width: calc(100%/3*2);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
    }
    p-name{
        font-size: 20px;
        line-height: 22px;
        color: #0C4A6E;
        padding: 40px 0px;
    }
    .button{
        width: 240px;

    }
    .enroll-button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
        border: 0px;
        border-radius: 10px;
        background-color: #38bdf8;
    }
    .white{
        width: 100%;
        height: 100px;

    }  
    h2{
        font-size: 30px;
        padding: 35px 0;
    }
    .Our-services{
        width: 100%;
    }
    .block-services{
        overflow: scroll;
        
    }
    .block-service02{
         margin:60px 20px;
    }
    .block-service03{
        margin: 60px 0px;
        
    }
    .block-service04{
        margin: 60px 20px;
    
    }
    .about{
        width: 100%;
        object-position: center;  
        height: none;   
    }
    p-about{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .detailed-button{
       margin-top: 15px;
       width: calc(100%/2);
    }
    .reviews {
        width: 100%;
        height: 600px;
    }
    comments {
        width: 100%;
        flex-direction: column;
    }
    .comment{
        height: 100px;
        width: 100%;
        margin: 10px 0;
    
    }
    .foto{
        padding:10px 10px ;
        height: 60px;
        width: 60px;
    }
    .review{
        overflow: scroll;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 12px;
        line-height: 14px;
    
    }
    .map{
        width: 100%;
        height:657px;
    
    }  
    .opocity{       
        width: 100%;
        height:657px;
    }
    .addresses{
        flex-direction: column;
        align-items: center;
        margin:0px;
    }  
        
    .address{
        height:150px;
        width: 380px;
        margin: 10px 0;
    }
    p-info{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        padding-right: 15px;
    }
    .icon-location{
        height: 15px;
        width: 14px;
        margin: 10px;
        padding: 0px;
    }
    .location{
        margin: 0px;
    }
    .icon-info{
        height: 15px;
        width: 15px;
        margin: 10px;
        padding: 0px;
    }

    span1{
        font-size: 13px;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 100%;
        height:370px;    
    }
    .footer-up{
        padding-bottom:0px ;
    }
    .footer-up-left{
        width: calc(100%/12*17);
        margin-bottom:0px;   
    }
    .facebook{
        width: calc(100%/2);
        margin-top: -10px;
        
    }
    .icon-facebook{
        height: 14px;
        width: 14px;
    }
    .footer-middle{
        flex-flow: row wrap;
    }
    .our{
        margin: 15px 0;
        
    }
    .our-info{
        padding-right: 30px;
    }
    .icon-our{
        height: 15px;
        width: 14px;
        margin-top: 10px;
    
    }
    .footer-end{
        display: flex;
        justify-content: right;
        margin: 20px 0;
    
    }
    p-info-end{
        font-size: 12px;
    }
}
@media (max-width: 600px) {
    .content{
        width: 100%;
        padding:0  20px;
        box-sizing: border-box;
        }
    header{
        width: 100%;
        height: 80px;
    }
    h4{
        font-size: 22px;
        font-weight: 600;
    }
    .menu{
        font-size: 18px;
        width: calc(100%/12*7);
        display: flex;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .ground{
        width: 100%;
        height: 537px;
        background-position: center;
        object-position: center;
        background-size: cover;
        margin-top: 80px;
        background: linear-gradient(to right, rgba(233, 240, 245, 0.653) 0%, transparent 100%), url(hat.png);

    }  
    h1{
        font-size: 25px;
        width: avto;
        padding-top: 40px;

    }
    span{
        font-size: 26px;
    }
    .name{
        width: calc(100%/3*2);
        display: flex;
        flex-direction: column;
    }
    p-name{
        font-size: 20px;
        line-height: 22px;
        color: #0C4A6E;
        padding: 40px 0px;
    }
    .enroll-button{
        width: calc(100%/12*9);
    }
    .white{
        width: 100%;
        height: 100px;

    }  
    h2{
        font-size: 26px;
        padding: 30px 0;
    }
    .Our-services{
        width: 100%;
    }
    .block-services{
        overflow: scroll;      
    }
    .about{
        width: 100%;
        object-position: center;  
        height: 668px;   
    }
    #text-button{
        height: 528px;
    }
    .text-about{
        height: 370px;
    }
    p-about{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .button{
        justify-content: center;
    
    }
    .reviews {
        width: 100%;
        height: 880px;
    }
    comments {
        width: 100%;
        flex-direction: column;
    }
    .comment{
        width: avto;
        margin: 10px 0;
    
    }
    .foto{
        height: 40px;
        width: 40px;
        padding:30px 10px ;
    }
    .review{
        overflow: scroll;
    }
    h3{
        font-size: 12px;
    }
    p{
        font-size: 12px;
        line-height: 14px;
    
    }
    .map{
        width: 100%;
        height:627px;
    
    }  
    .opocity{       
        width: 100%;
        height:627px;
    }
    .addresses{
        flex-direction: column;
        margin:0px;
    }  
        
    .address{
        height:150px;
        width: avto;
        margin: 10px 0;
    }
    p-info{
        font-size: 13px;
        line-height: 18px;
    }
    .icon-location{
        height: 15px;
        width: 14px;
        margin: 10px;
        padding: 0px;
    }
    .location{
        margin: 0px;
    }
    .icon-info{
        height: 15px;
        width: 15px;
        margin: 10px;
        padding: 0px;
    }

    span1{
        font-size: 10px;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    footer{
        width: 100%;
        height:550px;    
    }
    .footer-up{
        padding-bottom:0px ;
    }
    .footer-up-left{
        width: calc(100%/12*17);
        margin-bottom:0px;   
    }
    .facebook{
        width: calc(100%/2);
        margin-top: -10px;
        
    }
    .icon-facebook{
        height: 14px;
        width: 14px;
    }
    .footer-middle{
        flex-direction: column;
    }
    .our{
        margin: 15px 0;
        
    }
    .our-info{
        padding-right: 30px;
    }
    .icon-our{
        height: 15px;
        width: 14px;
        margin-top: 10px;
    
    }
    .footer-end{
        display: flex;
        justify-content: right;
        margin: 20px 0;
    
    }
    p-info-end{
        font-size: 12px;
    }
}
