header{
    background-color: #0284c7;
    height: 60px;
    width: 100%px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-header{
    font-family: 'Open Sans';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
}
.content{
    font-family: 'Open Sans';
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
}
#hatMobil{
    display: none;
}

#hat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

}
h4{
    color: #fafafa;
    font-size: 32px; 
    text-align: left;

}
.menu{
    font-size: 28px;
    width: calc(100%/2);
    display: flex;
    justify-content: space-between;
}
a{
    color: #fafafa;
    font-size: 28px;
    text-decoration: none;
}
.button-menu {
    display: none;
}
.container{
    display: none;
}   
.ground{
    background-image: url(hat.png);
    width: 100%;
    height:537px;
    margin-top: 60px;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    padding-top: 140px;
}
span{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    color: #0ea5e9;    

}
.name{
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    
}
p-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #0C4A6E;
    padding: 55px 0px;
}
.enroll-button{
    width: calc(100%/2);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #38bdf8;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color:#0369a1;
    padding: 50px 0;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #0284C7;
    padding: 10px 0;

}

section{
    width: 100%;
    height: 1400px;
}
.caries{
    display: flex;
    flex-direction: row;
}
.caries-text{
    width: calc(100%/12*7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p-caries{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #0B4269;
    padding-right: 10px;
}
.foto-caries{
    border-radius: 25px;
    width: calc(100%/12*5);
    object-fit: cover;
    
}
.block-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.block-light{
    width: calc(100%/12*11);
    height: 78px;
    background-color: #f0f9ff;
    border-radius: 40px;
    margin: 10px 0;
    color: #075985; 
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;

}
.block-dark{
    width: calc(100%/12*11);
    height: 78px;
    background-color: #e0f2fe;
    border-radius: 40px;
    color: #075985; 
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 40px;
   
}
span-green{
    color: rgb(2, 183, 2);
}
span-blue{
    color: #38bdf8; 
}
.Our-services{
    background-color: #0284C7;;
    width: 1920px;
    height: 285px;
}
.block-services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}
.arrow {
    width: calc(100%/12);
    text-align: center;
    margin-top: 110px; 
}
.block-service02{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-3.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.block-service03{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-2.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-service04{
    width: 277px;
    height: 183px;
    background: linear-gradient(to right, rgba(101, 180, 244, 0.653) 0%, transparent 100%), url(service-1.png);
    border-radius: 25px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p-0N{
    padding: 20px;
    font-family: 'Open Sans';
    font-style: italic;
    color: #fafafa;
    font-size: 20px;
}
.white{
    height: 200px;
}
footer{
    background-color: #e8f5fbbf;
    width: 100%;
    height:403px;

}
.footer-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 30px 0;

}
.footer-up-left{
    width: calc(100%/3);
    margin: 20px 0;   
}
span1{
    color: #075985;
    font-size: 20px;
    font-family:'Open Sans';
}
p-info{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align:left;
    color: #075985;

}
.facebook{
    display: flex;
    flex-direction: row;
}
.footer-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.our{
    display: flex;
    flex-direction: row;
    
}
.our-info{
    display: flex;
    flex-direction: column;
}
.icon-our{
    margin-top: 10px;
}
.footer-end{
    display: flex;
    justify-content: right;
    margin: 50px 0;
}
p-info-end{
    color: #075985;
    font-size: 18px;
    border-left:2px solid #075985;
    margin-left: 10px;
    padding-left: 10px;
}
@media (max-width: 768px)
 {
    .content-header{
        width: 100%;
        padding:0  20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        }
    header{
        width: 100%;
        height: 60px;
    }
    h4{font-size: 30px;
        font-weight: 600;
    }
    #hat {
        display: none;
    }
    #hatMobil{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100%;
    }.content{
        width: 100%;
        padding:0  20px;
        box-sizing: border-box;
        }
    
    a{
        color: #0284c7;
        font-size: 28px;
        font-weight: 600;

    }
    .menu{
        display: none;
    }
    .menuMobil{
        display: flex;
        flex-direction: column;
    } 
    .button-menu{
        display: flex;
        color: white;
        font-size: 25px;
        font-weight: 700;
        padding: 10px;
        border: 0px;
        border-radius: 5px;
        background-color: #38bdf8;
        margin-top: 10px;
    }
    .container{
        display: none;
        background-color: aliceblue;
        border-radius: 7px;
        flex-direction: column;
        width: min-content;
        margin-top: 0.7%;
        padding: 10px;  
    }
    .ground{
        width: 100%;
        height: 537px;
        background-position: center;
        object-position: right;
        background-size: cover;
        margin-top: 60px;
        background: linear-gradient(to right, rgba(233, 240, 245, 0.653) 0%, transparent 100%), url(hat.png);
    
    }  
    h1{
        font-size: 34px;
        width: avto;
        padding-top: 80px;
    
    }
    span{
        font-size: 35px;
    }
    .name{
        width: calc(100%/3*2);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
    }
    p-name{
        font-size: 20px;
        line-height: 22px;
        color: #0C4A6E;
        padding: 40px 0px;
    }
    .button{
        width: 240px;
    
    }
    .enroll-button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        padding: 10px;
        border: 0px;
        border-radius: 10px;
        background-color: #38bdf8;
    }  
    h2{
        font-size: 30px;
        padding: 35px 0;
    }         
    h3{        
        font-size: 16px;        
    }
    
    section{
        width: 100%;
        height: 100%;
    }
    .caries{
        flex-direction: column;
    }
    .caries-text{
        width:100%;
    }
    p-caries{
        font-size: 14px;
        line-height: 26px;       
        padding-right: 0px;
    }
    .foto-caries{
        width: 100%;
        text-align: center;

    }
    .block-light{
        height: 78px;
        font-size: 18px;
        padding: 0 40px;
        line-height: 24px;
        flex-direction: row;
        text-align: justify;
    
    }
    .block-dark{
        height: 78px;
        font-size: 18px;
        padding: 0 40px;
        line-height: 24px;
        flex-direction: row;
        text-align: justify;
       
    }
    .white{
        height: 100px;
    }
    .Our-services{
        width: 100%;
        height: 285px;
    }
    .block-services{
        overflow: scroll; 
    }
    .block-service02{
        margin: 60px 20px;
    }
    .block-service03{ 
        margin: 60px 10px;
    }
    .block-service04{
        margin: 60px 20px;
    }
    p-0N{
        font-size: 14px;
    }
    
    footer{
        width: 100%;
        height:370px;    
    }
    .footer-up{
        padding-bottom:0px ;
    }
    .footer-up-left{
        width: calc(100%/12*17);
        margin-bottom:0px;   
    }
    .facebook{
        width: calc(100%/2);
        margin-top: -10px;
        
    }
    .icon-facebook{
        height: 14px;
        width: 14px;
    }
    .footer-middle{
        flex-flow: row wrap;
    }
    .our{
        margin: 15px 0;
        
    }
    .our-info{
        padding-right: 30px;
    }
    .icon-our{
        height: 15px;
        width: 14px;
        margin-top: 10px;
    
    }
    .footer-end{
        display: flex;
        justify-content: right;
        margin: 20px 0;
    
    }
    p-info-end{
        font-size: 12px;
    }
    span1{
        font-size: 14px;
    }
    p-info{
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        padding-right: 15px;
    }
}
@media (max-width: 600px) {
    .content{
        width: 100%;
        padding:0  20px;
        box-sizing: border-box;
        }
    header{
        width: 100%;
        height: 80px;
    }
    h4{
        font-size: 22px;
        font-weight: 600;
    }
    .menu{
        font-size: 18px;
        width: calc(100%/12*7);
        display: flex;
        flex-wrap: wrap;
        line-height: 24px;
    }
    .ground{
        width: 100%;
        height: 537px;
        background-position: center;
        object-position: center;
        background-size: cover;
        margin-top: 80px;
        background: linear-gradient(to right, rgba(233, 240, 245, 0.653) 0%, transparent 100%), url(hat.png);

    }  
    h1{
        font-size: 25px;
        width: avto;
        padding-top: 40px;

    }
    span{
        font-size: 26px;
    }
    .name{
        width: calc(100%/3*2);
        display: flex;
        flex-direction: column;
    }
    p-name{
        font-size: 20px;
        line-height: 22px;
        color: #0C4A6E;
        padding: 40px 0px;
    }
    .enroll-button{
        width: calc(100%/12*9);
        font-size: 14px;
    }
    h2{
        font-size: 26px;
        padding: 25px 0;
    }         
    h3{        
        font-size: 14px;        
    }
    p-caries{
        line-height: 18px;       
    }
    .foto-caries{
        width: 250px;
        height: 300px;

    }
    .block-light{
        font-size: 14px;
        line-height: 18px;
    
    }
    .block-dark{
        font-size: 14px;
        line-height: 18px;
    }
    .white{
        height: 80px;
    }
    
    .Our-services{
        width: 100%;
    }
    .block-services{
        overflow: scroll;      
    }
    span1{
        font-size: 10px;
    }
    footer{
        width: 100%;
        height:550px;    
    }
    .footer-up{
        padding-bottom:0px ;
    }
    .footer-up-left{
        width: calc(100%/12*17);
        margin-bottom:0px;   
    }
    .facebook{
        width: calc(100%/2);
        margin-top: -10px;
        
    }
    .icon-facebook{
        height: 14px;
        width: 14px;
    }
    .footer-middle{
        flex-direction: column;
    }
    .our{
        margin: 15px 0;
        
    }
    .our-info{
        padding-right: 30px;
    }
    .icon-our{
        height: 15px;
        width: 14px;
        margin-top: 10px;
    
    }
    .footer-end{
        display: flex;
        justify-content: right;
        margin: 20px 0;
    
    }
    p-info-end{
        font-size: 12px;
    }
}

