.foto{ 
    background-image: url(hero.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;

}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}    
.logo{
    width: 100px;
    height: 100px;
}
.telephone{
    display: flex;
    justify-content: center;
}
.icon-telephone{
    width: 25px;
    height: 25px;
}
.icon{
    font-size: 20px;
    color: white;
}
.icon:hover{
    color: #44403c;
}
.number{
    margin: 0 10px;
    font-size: 15px;
}
.text{
    width: 450px;
    padding-top: 150px;
}
h1{
    font-size: 60px;
    font-weight: 600;
    padding-bottom: 50px;
}
h5{
    font-size: 25px;
    padding-bottom: 40px;
    font-weight: 600;

}
h3{
    font-size: 20px;
    padding-bottom: 40px;
    font-weight: 550;
}
p{
    font-size: 15px;
    padding-bottom: 40px;
}
.orange-button{
    padding: 10px;
    margin: 0px 10px;
    color: white;
    font-size: 25px;
    border: 0px;
    border-radius: 10px;
    background-color: #f97316
}
.orange-button:hover{
    background-color: #ea580c;
}
.orange-button:hover:active{
    background-color: #ea580c;
}
.about{
    height: 800px;
    background-color: white;
}
h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
#blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.block{
    background-color: #e2dfdd;
    height: 200px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
}
.block-orange{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #f97316;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name{
    height: 45px;
    border-radius: 10px;
    border: 0px;
}
#telephone{
    height: 45px;
    border-radius: 10px;
    border: 0px;
}
.teach{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
}
.image{
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.record{
    height: 400px;
    background-color: #ffedd5;
    text-align: center;
}
.review{
    background-color: #fafaf9;
    height: 600px;
}
.gratitude{
    width: 600px;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
h3-red{
    font-size: 20px;
    font-weight: 600;
    color: #ea580c;
}
.price-block{
    background-color:white;
    height: 250px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid #d6d3d1;
    text-align: start;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}
.yellow-button{
    padding: 5px;
    color: #ea580c;
    font-size: 15px;
    border: 5px ;
    background-color: #ffedd5;
    width: 280px;
    height: 40px;
    border-radius: 10px
    
}
.subscription{
    background-color: white;
    height: 700px;
}
.check{
    font-size: 14px;
    display: flex;
    padding: 5px;
}
h4{
    padding-left: 10px;
}
.contacts{
    background-color: #d6d3d1;
    height: 150px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align:center ;
}
@media (max-width: 600px) {
    .foto{
        opacity: 0.4; 
    }
    .content{
        height: 100%;
        width: 100%;
        margin: 10px;
    }  
    nav{
        width: calc(100%/2);
        flex-direction: row;
    } 
    h1{
        font-size: 45px;
        text-align: left;
        width: calc(100%/3*2);
        margin-top: -50px;
    }
    h2{
        font-size:30px;
        padding: 20px;
        
    } 
    h5{
        width:calc(100%/3);
        text-align: left;
        font-size: 20px;
        padding-bottom: 100px;
    }
    p{
        width: 100%; 
    }
    #blocks{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        margin: 20px;
    } 
    .block{
        margin-bottom: 10px;
        height: 180px;
    }
    .orange-button{ 
        font-size: 20px;
       


    }
    .teach{
       
        display: flex;
        flex-direction: column;
    }
    .image{
        object-fit: contain;
        width: auto;
    }
    .record{
        display: flex;
        flex-direction: column;
        
    }    
    .review{
        display: flex;
        flex-direction: column;
       
    }
    .gratitude{
        width: auto;
    }
    .subscription{
        height: auto;
    }
    
    

} 
